@media (min-width: 1230px) {
  ytd-rich-grid-renderer {
    --ytd-rich-grid-items-per-row: 4 !important;
  }
}

ytd-rich-section-renderer:first-of-type {
  display: none !important;
} 

.ytr-subscriptions__header {
  padding-top: 24px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

#contents.ytd-rich-grid-renderer,
.ytr-subscriptions__header {
  max-width: 100% !important;
  max-width: -moz-available !important;
  max-width: -webkit-fill-available !important;
  width: calc(var(--ytd-rich-grid-content-max-width) + 48px) !important;
  padding-left: calc(var(--ytd-rich-grid-item-margin) / 2 + var(--ytd-rich-grid-gutter-margin));
  padding-right: calc(var(--ytd-rich-grid-item-margin) / 2 + var(--ytd-rich-grid-gutter-margin));
}

#contents.ytd-rich-grid-renderer {
  padding-top: 38px;
  display: grid !important;
  grid-template-columns: repeat(var(--ytd-rich-grid-items-per-row, 4), minmax(0, 1fr)) !important;
  row-gap:
    var(--ytd-rich-grid-row-margin, 32px) !important;
  column-gap: var(--ytd-rich-grid-item-margin, 16px) !important;

  margin: 0 !important;
}

#content.ytd-rich-section-renderer {
  margin: 0 !important;
}

ytd-rich-item-renderer[rendered-from-rich-grid] {
  width: 100% !important;
  width: -moz-available !important;
  width: -webkit-fill-available !important;
  margin: 0 !important
}

ytd-rich-item-renderer[rendered-from-rich-grid][is-collection-selected="false"] {
  display: none !important;
}

/* ytd-rich-section-renderer:has(ytd-rich-shelf-renderer #contents-container.ytd-rich-shelf-renderer) {
  grid-area: 4;
} */

#contents[is-collection-selected="true"] ytd-rich-section-renderer:not(:first-of-type) {
  display: none !important;
}

ytd-rich-section-renderer,
ytd-continuation-item-renderer.ytd-rich-grid-renderer {
  grid-column: span var(--ytd-rich-grid-items-per-row, 4) !important;
}

.ytr-subscriptions__header[is-collection-selected="true"] .ytr-subscriptions__manage-subscriptions, .ytr-subscriptions__header:not([is-collection-selected="true"]) .ytr-subscriptions__manage-collection {
  display: none !important;
}

.ytr-subscriptions__title-span {
  opacity: 0.5;
}