.ytr-channel-collections__header {
    margin-bottom: 48px;
}

ytd-browse[page-subtype="subscriptions-channels"]:not(:has(.ytr-channel-collections__header input[name="channel-collection-tabs"][value="collections"]:checked)) .yt-collections__add-wrapper {
    display: none;
}

.yt-collections__add-wrapper {
    padding-top: 40px;
}

.yt-collections__dialog {
    border-radius: 8px;
    font-size: 18px;
    color: var(--yt-white-color);
    background-color: var(--yt-button-bg-color);
    border: none;
}

.yt-collections__dialog[open] {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.yt-collections__button {
    display: flex;
    color: var(--yt-white-color);
    background-color: var(--yt-button-bg-color);

    width: fit-content;
    align-items: center;
    gap: 8px;
    padding: 6px 16px;
    border-radius: 23.15px;
}

.yt-collections__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.yt-collections__form-channels {
    max-height: 200px;
    overflow-y: scroll;
}