#ytr-old-subscriptions-button {
  display: none !important;
}

.ytr-subscriptions-collapsible #items #expanded #collapser-item,
.ytr-subscriptions-collapsible #items #expanded #expandable-items ytd-guide-entry-renderer:nth-last-child(-n+1),
.ytr-subscriptions-collapsible #items:not(:has(#expanded)) ytd-guide-entry-renderer:nth-last-child(-n+1) {
  display: none !important;
}

ytd-guide-renderer.ytd-app #footer {
    display: none !important;
}