.select {
    width: fit-content;
    position: relative;
}

.select__button {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 12px 10px 16px;
    background-color: var(--yt-chip-cloud-chip-background) !important;
    border-radius: 8px !important;
    color: var(--yt-white-color) !important;
}

.select__labels {
    display: flex;
    gap: 4px;
}

.select__label {
    color: var(--yt-suport-text-color);
}

.select__button-input {
    all: unset;
    position: absolute;
    inset: 0;
    cursor: pointer;
}

.select__options {
    display: none;
    position: absolute;
    z-index: 400;
    width: 100%;
    margin-top: 2px;

    background-color: var(--yt-chip-cloud-chip-background) !important;
    border-radius: 8px !important;
    color: var(--yt-white-color) !important;
    list-style: none;
    overflow: hidden;
}

.select__option {
    position: relative;
    max-width: 100%;
    padding: 12px;
}

.select__option:hover:not(:has(input[type="radio"]:disabled)) {
    background-color: var(--yt-select-option-hover-color);
}

.select__option:has(input[type="radio"]:disabled) {
    color: var(--yt-suport-text-color);
}

.select__option input[type="radio"] {
    all: unset;
    position: absolute;
    inset: 0;
    cursor: pointer;
}

.select__option input[type="radio"]:disabled {
    cursor: not-allowed;
}

.select__button:has(.select__button-input:checked) + .select__options {
    display: block;
}