ytd-browse[page-subtype="subscriptions-channels"] ytd-section-list-renderer[is-constrained-list][responsive-sizing=STANDARD] {
    max-width: 100% !important;
    max-width: -moz-available !important;
    max-width: -webkit-fill-available !important;
}

ytd-browse[page-subtype="subscriptions-channels"] #grid-container.ytd-expanded-shelf-contents-renderer {
    justify-content: space-between !important;
}

ytd-tabbed-page-header[is-constrained-list][responsive-sizing=STANDARD] #page-header-container,
ytd-browse[page-subtype="subscriptions-channels"] #grid-container.ytd-expanded-shelf-contents-renderer,
.yt-collections__collections {
    max-width: 1470px !important;
    margin: 0 auto !important;
}

/* YT Channel Card */

ytd-browse[page-subtype="subscriptions-channels"] #grid-container.ytd-expanded-shelf-contents-renderer,
.yt-collection__channels {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;

    gap: 35px !important;
}

ytd-browse[page-subtype="subscriptions-channels"] #grid-container.ytd-expanded-shelf-contents-renderer>*.ytd-expanded-shelf-contents-renderer {
    flex: 0 !important;
}

ytd-browse[page-subtype="subscriptions-channels"] #grid-container.ytd-expanded-shelf-contents-renderer>*.ytd-expanded-shelf-contents-renderer #content-section,
.yt-collections__collection #content-section {
    display: flex !important;
    flex-direction: column !important;

    gap: 16px !important;
}

ytd-browse[page-subtype="subscriptions-channels"] #grid-container.ytd-expanded-shelf-contents-renderer>*.ytd-expanded-shelf-contents-renderer #content-section #avatar-section,
.yt-collections__collection #avatar-section {
    margin: auto !important;
}

ytd-browse[page-subtype="subscriptions-channels"] #grid-container.ytd-expanded-shelf-contents-renderer #content-section yt-img-shadow.ytd-channel-renderer,
#grid-container.ytd-expanded-shelf-contents-renderer #content-section img {
    width: 46px !important;
    height: 46px !important;
}

ytd-browse[page-subtype="subscriptions-channels"] #grid-container.ytd-expanded-shelf-contents-renderer #info-section,
.yt-collections__collection #info-section {
    display: flex !important;
    flex-direction: column !important;
    gap: 16px !important;
}

ytd-browse[page-subtype="subscriptions-channels"] #grid-container.ytd-expanded-shelf-contents-renderer #info-section #info,
.yt-collections__collection #info {
    padding: 0 !important;
}

/* Channel name */
ytd-browse[page-subtype="subscriptions-channels"] #grid-container.ytd-expanded-shelf-contents-renderer #info-section #channel-title,
.yt-collections__collection #channel-title {
    margin: auto !important;
    max-width: 150px !important;
}

ytd-browse[page-subtype="subscriptions-channels"] #grid-container.ytd-expanded-shelf-contents-renderer #info-section #channel-title #text,
.yt-collections__collection #channel-title #text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Metadata */
ytd-browse[page-subtype="subscriptions-channels"] #grid-container.ytd-expanded-shelf-contents-renderer #info-section #metadata,
.yt-collections__collection #metadata {
    display: flex !important;
    flex-direction: column !important;
    gap: 4px !important;
    max-height: none !important;
}

/* Channel @ */
#ytd-browse[page-subtype="subscriptions-channels"] grid-container.ytd-expanded-shelf-contents-renderer #info-section #metadata #subscribers,
.yt-collections__collection #metadata #subscribers {
    text-align: center !important;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px !important;
}

/* Subscribers count */
ytd-browse[page-subtype="subscriptions-channels"] #grid-container.ytd-expanded-shelf-contents-renderer #info-section #metadata #video-count,
.yt-collections__collection #metadata #video-count {
    text-align: center !important;
}

/* Metadata description and dot */
ytd-browse[page-subtype="subscriptions-channels"] #grid-container.ytd-expanded-shelf-contents-renderer #info-section #description,
ytd-browse[page-subtype="subscriptions-channels"] #grid-container.ytd-expanded-shelf-contents-renderer #info-section #dot,
.yt-collections__collection #description,
.yt-collections__collection #dot {
    display: none !important;
}

ytd-browse[page-subtype="subscriptions-channels"] #grid-container.ytd-expanded-shelf-contents-renderer #info-section #metadata>* {
    width: fit-content !important;
    margin: 0 auto !important;
}

/* CUSTOM */

ytd-browse[page-subtype="subscriptions-channels"]:not(:has(.ytr-channel-collections__header input[name="channel-collection-tabs"][value="collections"]:checked)) .yt-collections__collections,
ytd-browse[page-subtype="subscriptions-channels"]:has(.ytr-channel-collections__header):not(:has(.ytr-channel-collections__header input[name="channel-collection-tabs"][value="channels"]:checked)) #primary #contents {
    display: none;
}

.yt-collections__collections {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding-bottom: 34px;
}

.yt-collections__collection {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 34px;
}

.yt-collections__collection:not(:last-child) {
    border-bottom: 1px solid var(--yt-chip-cloud-chip-background);
}

.yt-collection__header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    cursor: pointer;
}

.yt-collection__header {
    position: relative;
    cursor: pointer;

    display: flex;
    gap: 8px;
}

.yt-collection__header-actions {
    display: flex;
    gap: 16px;
    align-items: center;
}

.yt-collection__title {
    color: rgb(var(--ytr-foreground));
}

.yt-collection__header-collapse {
    filter: invert(var(--ytr-black-invert));
}

.yt-collections__collection--collapsed .yt-collection__header-collapse {
    transform: rotate(180deg);
}

.yt-collections__collection--collapsed .yt-collection__channels {
    display: none !important;
}

.yt-collection__channels {
    display: flex;
    gap: 35px;
}

.yt-collection__channel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    min-width: 150.47px;
}

.yt-collection__channel-avatar {
    width: 46px;
    height: 46px;
    border-radius: 100%;
}

.yt-collection__channel-title {
    display: flex;
    gap: 4px;
    align-items: center;
    max-width: 150px;
}

.yt-collection__channel-name {
    color: var(--yt-spec-text-primary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.yt-collection__channel-verified {
    width: 14px;
    height: 14px;
}

.yt-collection__channel-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yt-collection__channel-metadata {
    display: flex;
    flex-direction: column;
    color: var(--yt-spec-text-secondary);
    text-align: center;
}