@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --yt-primary-color: #FF0033 !important;
    --yt-secondary-color: #F50057 !important;
    --yt-tertiary-color: #FFAABB !important;
    --yt-white-color: #FFFFFF !important;
    --ytr-foreground-color: #1D1D1D !important;
    --ytr-default-foreground-color: #3E3E3E !important;
    --yt-accent-color: #FF325B !important;
    --yt-spec-text-primary: #F1F1F1 !important;
    --yt-spec-text-primary-inverse: #0f0f0f !important;
    --yt-outline-color: #2c2c2c !important;
    --yt-spec-icon-inactive: #FFFFFF !important;
    --yt-spec-endpoint-background: #322629 !important;
    --yt-chip-cloud-chip-background: #323232 !important;
    --yt-spec-additive-background: var(--ytr-foreground-color) !important;
    /* Bg color of description, Watch page buttons, ... */
    --yt-buttons-border-color: #ffffff33 !important;
    --yt-suport-text-color: #adadad !important;
    --yt-select-option-hover-color: #4F4F4F !important;
    --yt-player-config-option-border-color: #79747e !important;
    --yt-button-bg-color: #1D1D1D !important;
    --ytr-input-border: rgba(255, 255, 255, 0.15) !important;
    --ytr-select-bg: #2F2F2F !important;
    --ytr-select-bg-hover: #3E3E3E !important;
    --ytr-dialog-border: rgba(255, 255, 255, 0.11) !important;
}

#trigger-observer {
    display: none !important;
}

yt-chip-cloud-chip-renderer[chip-style=STYLE_DEFAULT] #chip-container.yt-chip-cloud-chip-renderer,
yt-chip-cloud-chip-renderer[chip-style=STYLE_HOME_FILTER] #chip-container.yt-chip-cloud-chip-renderer {
    background-color: var(--yt-chip-cloud-chip-background) !important;
    padding: 0.625rem 1rem !important;
    height: auto !important;
    width: auto !important;
    max-width: auto !important;
}

yt-chip-cloud-chip-renderer[chip-style=STYLE_DEFAULT][selected] #chip-container.yt-chip-cloud-chip-renderer,
yt-chip-cloud-chip-renderer[chip-style=STYLE_HOME_FILTER][selected] #chip-container.yt-chip-cloud-chip-renderer {
    background-color: var(--yt-spec-icon-inactive) !important;
}

#sections ytd-guide-section-renderer:nth-child(n+3) {
    display: none !important;
}

#footer {
    display: none !important;
}

.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal {
    background-color: var(--yt-spec-badge-chip-background) !important;
}

.display-none {
    display: none !important;
}

.text-sm {
    font-size: 12px !important;
    line-height: 18px !important;
    font-weight: 400 !important;
    font-family: "Roboto", Arial, sans-serif !important;
}

.text-base {
    font-size: 14px !important;
    line-height: 20px !important;
    letter-spacing: 0.1px !important;
    font-family: "Roboto", Arial, sans-serif !important;
}

.text-lg {
    font-size: 18px !important;
    line-height: 28.29px !important;
    letter-spacing: 0% !important;
    font-weight: 500 !important;
    font-family: "Roboto", Arial, sans-serif !important;
}

.button {
    display: flex;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.ytr-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.ytr-input__label {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: var(--yt-spec-text-primary);
}

.ytr-input {
    width: -webkit-fill-available;
    background: transparent;
    padding: 18px 16px;
    border: 1px solid var(--ytr-input-border);
    border-radius: 8px;
    color: var(--yt-spec-text-primary);
    font-size: 16px;
}

.ytr-hidden {
    display: none !important;
}

.divider {
    background-color: var(--yt-button-bg-color);
}

.divider--vertical {
  width: 100%;
  max-width: 0.5px;
  margin: 8px 0;
  background-color: var(--yt-spec-10-percent-layer);
}