@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* YTR Colors */
    --yt-primary-color: #FF0033 !important;
    --yt-secondary-color: #F50057 !important;
    --yt-tertiary-color: #FFAABB !important;
    --yt-accent-color: #FF325B !important;
    --yt-white-color: #FFFFFF !important;
    --ytr-text-color: var(--ytr-background-color-inverse) !important;
    --ytr-text-inverse-color: var(--ytr-background-color) !important;


    --yt-spec-text-primary: var(--ytr-background-color-inverse) !important;
    --yt-spec-text-primary-inverse: var(--ytr-background-color) !important;
    --yt-spec-badge-chip-background: var(--yt-chip-cloud-chip-background) !important;
    --yt-spec-endpoint-background: rgba(255, 170, 187, 0.14) !important;
    --yt-spec-additive-background: var(--ytr-foreground-color) !important;
    --ytr-buttons-primary-border-color: rgba(var(--ytr-foreground), 0.20) !important;
    --ytr-buttons-border-color: rgba(var(--ytr-foreground), 0.10) !important;
    --ytr-input-border: rgba(var(--ytr-foreground), 0.15) !important;
    --ytr-dialog-border: rgba(var(--ytr-foreground), 0.11) !important;
    --ytr-default-foreground-color: rgba(var(--ytr-foreground), 0.14) !important;
}

html,
[light] {
    /* YT Native Colors */
    --ytr-white-invert: 0;
    --ytr-black-invert: 1;
    --ytr-background: 255, 255, 255;
    --ytr-foreground: 0, 0, 0;

    /* YTR Colors */
    --ytr-background-color: #F1F1F1 !important;
    --ytr-background-color-inverse: #0f0f0f !important;
    --ytr-foreground-color: #f2f2f2 !important;
    --yt-glass-background-color: rgba(255, 255, 255, 0.9);
    --yt-glass-foreground-color: rgba(15, 15, 15, 0.8);
    --ytr-outline-color: #D3D3D3 !important;
    --yt-chip-cloud-chip-background: #F2F2F2 !important;
    --ytr-select-background-color: #E1E1E1 !important;
    --ytr-select-background-color-hover: #D0D0D0 !important;
}

html[dark],
[dark] {
    /* YT Native Colors */
    --ytr-white-invert: 1;
    --ytr-black-invert: 0;
    --ytr-background: 0, 0, 0;
    --ytr-foreground: 255, 255, 255;

    /* YTR Colors */
    --ytr-background-color: #0f0f0f !important;
    --ytr-background-color-inverse: #F1F1F1 !important;
    --ytr-foreground-color: #1D1D1D !important;
    --yt-glass-background-color: rgba(15, 15, 15, 0.8);
    --yt-glass-foreground-color: rgba(255, 255, 255, 0.9);
    --ytr-outline-color: #2c2c2c !important;
    --yt-spec-icon-inactive: #FFFFFF !important;
    --yt-chip-cloud-chip-background: #1D1D1D !important;

    --yt-suport-text-color: #adadad !important;
    --yt-select-option-hover-color: #4F4F4F !important;
    --yt-player-config-option-border-color: #79747e !important;
    --ytr-select-background-color: #2F2F2F !important;
    --ytr-select-background-color-hover: #3E3E3E !important;
}

#trigger-observer {
    display: none !important;
}

yt-chip-cloud-chip-renderer[chip-style=STYLE_DEFAULT] #chip-container.yt-chip-cloud-chip-renderer,
yt-chip-cloud-chip-renderer[chip-style=STYLE_HOME_FILTER] #chip-container.yt-chip-cloud-chip-renderer,
.ytChipShapeInactive {
    background-color: var(--yt-chip-cloud-chip-background) !important;
    padding: 0.625rem 1rem !important;
    height: auto !important;
    width: auto !important;
    max-width: auto !important;
}

yt-chip-cloud-chip-renderer[chip-style=STYLE_DEFAULT][selected] #chip-container.yt-chip-cloud-chip-renderer,
yt-chip-cloud-chip-renderer[chip-style=STYLE_HOME_FILTER][selected] #chip-container.yt-chip-cloud-chip-renderer {
    background-color: var(--yt-spec-icon-inactive) !important;
}

#sections ytd-guide-section-renderer:nth-child(n+3) {
    display: none !important;
}

.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal {
    background-color: var(--yt-spec-badge-chip-background) !important;
}

.display-none {
    display: none !important;
}

.text {
    color: var(--yt-spec-text-primary);
}

.text-sm {
    font-size: 12px !important;
    line-height: 18px !important;
    font-weight: 400 !important;
    font-family: "Roboto", Arial, sans-serif !important;
}

.text-base {
    font-size: 14px !important;
    line-height: 20px !important;
    letter-spacing: 0.1px !important;
    font-family: "Roboto", Arial, sans-serif !important;
}

.text-lg {
    font-size: 18px !important;
    line-height: 23px !important;
    letter-spacing: 0% !important;
    font-weight: 500 !important;
    font-family: "Roboto", Arial, sans-serif !important;
}

.text-xl {
    font-size: 20px !important;
    line-height: 28.29px !important;
    letter-spacing: 0% !important;
    font-weight: 500 !important;
    font-family: "Roboto", Arial, sans-serif !important;
}

.button {
    display: flex;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.ytr-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.ytr-input__label {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: var(--yt-spec-text-primary);
}

.ytr-input {
    width: -webkit-fill-available;
    background: transparent;
    padding: 18px 16px;
    border: 1px solid var(--ytr-input-border);
    border-radius: 8px;
    color: var(--yt-spec-text-primary);
    font-size: 16px;
}

.ytr-hidden {
    display: none !important;
}

.divider {
    background-color: var(--ytr-foreground-color);
}

.divider--vertical {
    width: 100%;
    max-width: 0.5px;
    margin: 8px 0;
    background-color: var(--yt-spec-10-percent-layer);
}