@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --yt-primary-color: #FF0033 !important;
    --yt-secondary-color: #F50057 !important;
    --yt-tertiary-color: #FFAABB !important;
    --yt-white-color: #FFFFFF !important;
    --yt-accent-color: #FF325B !important;
    --yt-spec-text-primary: #F1F1F1 !important;
    --yt-spec-text-primary-inverse: #0f0f0f !important;
    --yt-outline-color: #2c2c2c !important;
    --yt-spec-icon-inactive: #FFFFFF !important;
    --yt-spec-endpoint-background: #322629 !important;
    --yt-chip-cloud-chip-background: #323232 !important;
    --yt-spec-additive-background: #1d1d1d !important; /* Bg color of description, Watch page buttons, ... */
    --yt-buttons-border-color: #ffffff33 !important;
    --yt-suport-text-color: #adadad !important;
    --yt-select-option-hover-color: #4F4F4F !important;
    --yt-player-config-option-border-color: #79747e !important;
    --yt-button-bg-color: #1D1D1D !important;
}

yt-chip-cloud-chip-renderer[chip-style=STYLE_DEFAULT] #chip-container.yt-chip-cloud-chip-renderer, yt-chip-cloud-chip-renderer[chip-style=STYLE_HOME_FILTER] #chip-container.yt-chip-cloud-chip-renderer {
    background-color: var(--yt-chip-cloud-chip-background) !important;
    padding: 0.625rem 1rem !important;
    height: auto !important;
    width: auto !important;
    max-width: auto !important;
}

yt-chip-cloud-chip-renderer[chip-style=STYLE_DEFAULT][selected] #chip-container.yt-chip-cloud-chip-renderer, yt-chip-cloud-chip-renderer[chip-style=STYLE_HOME_FILTER][selected] #chip-container.yt-chip-cloud-chip-renderer {
    background-color: var(--yt-spec-icon-inactive) !important;
}

ytd-guide-entry-renderer[active] .yt-spec-icon-shape, ytd-mini-guide-entry-renderer[is-active] .yt-spec-icon-shape {
    color: var(--yt-primary-color) !important;
}

#sections ytd-guide-section-renderer:nth-last-child(-n+3) {
    display: none !important;
}

.guide-icon.ytd-guide-entry-renderer, yt-img-shadow.ytd-guide-entry-renderer {
    margin-right: 1.25rem !important;
}

#footer {
    display: none !important;
}

.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal {
    background-color: var(--yt-spec-badge-chip-background) !important;
}

.collapsible-header {
    display: flex;
    padding-right: 0.75rem;
}

.collapsible-title:first-child {
    width: 100% !important;
}

.collapsible-title {
    width: 100%;
}

.collapsible-button {
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
    cursor: pointer;
    border-radius: 0.625rem;
}

.collapsible-button:hover, ytd-guide-entry-renderer:hover:has(> #endpoint), ytd-guide-entry-renderer[active]:has(> #endpoint), ytd-mini-guide-entry-renderer[is-active], ytd-mini-guide-entry-renderer:hover, ytd-mini-guide-entry-renderer:focus {
    background-color: var(--yt-spec-endpoint-background) !important;
}

#endpoint:hover {
    background-color: transparent !important;
}

.collapsible--active .collapsible-button img {
    transform: rotate(180deg);
}

.collapsible-content {
    display: none;
}

.collapsible--active .collapsible-content {
    display: block;
}

.display-none {
    display: none !important;
}

.text-sm {
    font-size: 12px !important;
    line-height: 18px !important;
    font-weight: 400 !important;
    font-family: "Roboto", Arial, sans-serif !important;
}

.text-base {
    font-size: 14px !important;
    line-height: 20px !important;
    letter-spacing: 0.1px !important;
    font-family: "Roboto", Arial, sans-serif !important;
}

.text-lg {
    font-size: 18px !important;
    line-height: 28.29px !important;
    letter-spacing: 0% !important;
    font-weight: 500 !important;
    font-family: "Roboto", Arial, sans-serif !important;
}

.button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}